body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    background: #42855B;
}

/*-------------Estilos header-------------*/

header{
    width: 100%;
}

.flex-header{
    width: 30%;
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
}

.img-icon{
    width: 90px;
    height: 90px;
}

.title{
    width: 100%;
}

/*-------------Estilos body-------------*/

.container-flex{
    width: 100%;
    display: flex;
}

.container-form{
    width: 25%;
    margin: 0;
    text-align: center;
}

.form{
    width: 100%;
    margin: 25% 0 0 0;
    text-align: center;
}

.form p{
    font-size: 20px;
}

.title-tarea{
    width: 80%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    outline: none;
}

.description-tarea{
    width: 80%;
    height: 120px;
    padding: 10px;
    margin: 15px 0;
    border: 0;
    border-radius: 10px;
    outline: none;
    resize: none;
}

.btn-crear{
    width: 150px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    transition: all .1s;
}

.btn-crear:active{
    transform: scale(.9);
}

.container-tareas{
    width: 65%;
    height: 73vh;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    text-align: center;
    overflow-y: scroll;
    background: #90B77D;
}

.container-tareas h1{
    margin: 0;
}

.container-tareas::-webkit-scrollbar{
    width: 12px;
    border-radius: 0 10px 10px 0;
}

.container-tareas::-webkit-scrollbar-thumb{
    width: 2px;
    border-radius: 15px;
    background: #fff;
}

/* ----------estilos nota----------- */

.nota{
    width: 50%;
    height: 180px;
    margin: 20px auto;
    padding: 1px 0 0 0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000;
    list-style: none;
    background: #CDFCF6;
}

.nota h2{
    margin: 10px 0;
    font-size: 35px;
}

.nota button{
    width: 30px;
    height: 30px;
    margin: 10px 0 0 90%;
    border: 0;
    border-radius: 50%;
    color: #fff;
    background: red;
}

.lista{
    padding: 0;
}

.anuncio-tarea{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
