body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    background: #42855B;
}

/*-------------Estilos header-------------*/

header{
    width: 100%;
}

.flex-header{
    width: 30%;
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
}

.img-icon{
    width: 65px;
    height: 65px;
}

.title{
    width: 100%;
}

/*-------------Estilos body-------------*/

.container-flex{
    width: 100%;
    display: flex;
}

.container-form{
    width: 25%;
    margin: 0;
    text-align: center;
}

.form{
    width: 100%;
    margin: 22% 0 0 0;
    text-align: center;
}

.form p{
    font-size: 25px;
}

.title-tarea{
    width: 80%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

.description-tarea{
    width: 80%;
    height: 120px;
    padding: 10px;
    margin: 15px 0;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    resize: none;
}

.btn-crear{
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 0;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    transition: all .1s;
}

.btn-crear:hover{
    background: #90B77D;    
    animation: MoveCircular 10s;
}

.btn-crear:active{
    transform: scale(.9);
}

@keyframes MoveCircular {
    10%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

.container-tareas{
    width: 60%;
    height: 450px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    overflow-y: scroll;
    background: #90B77D;
}

.container-tareas h1{
    margin: 0;
}

.container-tareas::-webkit-scrollbar{
    width: 12px;
    border-radius: 0 10px 10px 0;
}

.container-tareas::-webkit-scrollbar-thumb{
    width: 2px;
    border-radius: 15px;
    background: #fff;
}

/* ----------estilos nota----------- */

.nota{
    width: 50%;
    height: 180px;
    margin: 20px auto;
    padding: 1px 0 0 0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000;
    list-style: none;
    background: #CDFCF6;
}

.MoverNota{
    animation: NotaMove 2s;
}

@keyframes NotaMove {
    0%{
        opacity: 100;
    }

    50%{
        opacity: 50;
    }

    100%{
        opacity: 0;
    }
}

.nota h2{
    margin: 10px 0;
    font-size: 35px;
}

.nota button{
    width: 30px;
    height: 30px;
    margin: 10px 0 0 90%;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 10px;
    color: #fff;
    background: red;
}

.lista{
    padding: 0;
}

.anuncio-tarea{
    margin: 29vh auto;
    padding: 0;
    font-size: 20px;
}

.btn-crear-movile{
    margin: 0 20px 0 0;
    display: none;
}

.styleformMobile{
    width: 70%;
    height: 70%;
    margin: 80% 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 15px #222;
    position: absolute;
    text-align: center;
    display: block;
    background: #90B77D;
}

/* -------------Version tablet------------- */

@media screen and (max-width: 900px){

    .flex-header{
        width: 100%;
    }

    .container-flex{
        margin: 7% 0;
        align-items: center;
    }

    .container-form{
        width: 40%;
    }

    .container-tareas{
        width: 60%;        
        margin: 0 3% 0 3%;
    }
}

/*------------Version mobile------------------*/

@media screen and (max-width: 600px){

    .btn-crear-movile{
        display: block;
    }
    .flex-header{
        width: 100%;
        margin: 10px 0 10px 0;
        padding: 0;
    }

    .container-form{
        display: none;
    }

    .styleformMobile{
        width: 90%;
        height: 450px;
    }

    .container-tareas{
        width: 80%;
        margin: auto;
        height: 600px;
        max-height: 80vh;
        overflow-y: scroll;
    }

    .nota{
        width: 90%;
    }

    .nota h2{
        font-size: 25px;
    }

    .nota button{
        margin: 9px 0 0 83%;
    }
}
